* {
  /* standart stuff for css */
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(40, 42, 54);
}

body {
  margin: 20px;
  display: flex;
  flex-direction: row;
  max-height: 95vh;
  overflow: hidden;
  justify-content: space-between;
}

#busse {
  width: 30%;
  overflow: hidden;
}

.bus {
  margin: 10px 0px 10px 0px;
  color: white;
  display: flex;
  width: 100%;
  flex-direction: row;
}
#lineID {
  font-weight: 700;
  background-color: rgb(58, 58, 153);
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
}

#direction {
  padding: 10px 10px;
  text-align: center;
}

#time {
  padding: 10px 10px;
  text-align: center;
}

.board {
  max-width: 70%;
  min-width: 70%;
  background-color: red;
  display: flex;
  flex-direction: row;
}
.weather {
  width: fit-content;
  height: fit-content;
}
.weather_box_lightest {
  width: 400px;
  height: 400px;
  object-fit: scale-down;
  background-color: rgb(40, 42, 54);
  color: white;
}

.img-responsive {
  width: 400px;
  height: 400px;
  object-fit: scale-down;
  background-image: url("//wetter.provinz.bz.it/images/fileN_d_background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin: 0 auto;
}

#forecastdiv {
  width: 400px;
  height: 400px;
  object-fit: scale-down;
}
#forecast {
  width: 400px;
  height: 400px;
  object-fit: scale-down;
}
