* {
  /*standart css stuff*/
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(34, 30, 58);
  color: white;
}
body {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard {
}

#busse {
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  margin: 10px;
  height: fit-content;
}

.bus {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-bottom: 3px;
}
/*tag for busnumber*/
#lineID {
  font-weight: 700;
  background-color: rgb(58, 58, 153);
  color: white;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
}

#direction {
  background-color: transparent;
  padding: 10px 10px;
  text-align: center;
}
#time {
  font-weight: 700;
  background-color: red;
  color: white;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
}
