* {
  /*standart css stuff*/
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  color: white;
}
body {
  background-color: rgb(34, 30, 58);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
h1 {
  margin-top: 10px;
  height: 10%;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 90%;
}

#busse {
  padding: 1rem;
  background-color: rgb(45, 50, 100);
  border-radius: 10px;
  width: fit-content;
  margin: 1rem;

  height: fit-content;
}

.bus {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-bottom: 0.3rem;
}
/*tag for busnumber*/
#lineID {
  font-weight: 700;
  background-color: rgb(58, 58, 153);
  color: white;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
}

#direction {
  background-color: transparent;
  padding: 10px 10px;
  text-align: center;
}
#time {
  font-weight: 700;
  background-color: red;
  color: white;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
}
.board {
  align-self: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  margin-left: 0rem !important; /*override the css*/
  background-color: rgb(45, 50, 100);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
#weather_forecast_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#avg_temp {
  font-size: 1.2rem;
}
